<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                       <section name="GestionMedidores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
                   </sectionGroup>
    </configSections>


  <appSettings>
    <add key="Timer" value="180000"/>
    <add key="bd" value="JvRIOdPpNpqLSFy8aFB+iiepJlVWQW2vkC//Thcxmalr9QWpAb+Lidos+kftTL9syQsnD7/VWZ3Ca7Drx4/DlxK27MBHP/1CpRBvV3vC6L7dL/F4vrGrQzb1EwRy3hWZ"/>
  </appSettings>
  
    <applicationSettings>
        <GestionMedidores.Properties.Settings>
            <setting name="bd" serializeAs="String">
                <value>JvRIOdPpNpqLSFy8aFB+iiepJlVWQW2vkC//Thcxmalr9QWpAb+Lidos+kftTL9syQsnD7/VWZ3Ca7Drx4/DlxK27MBHP/1CpRBvV3vC6L7dL/F4vrGrQzb1EwRy3hWZ</value>
            </setting>
            <setting name="frecuencia" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="GestionMedidores_MASSoap_MAS" serializeAs="String">
                <value>http://192.168.100.41/axis2/services/MAS.MASSoap12/</value>
            </setting>
            <setting name="GestionMedidores_CD_ServerSoap_CD_Server" serializeAs="String">
                <value>http://192.168.100.41/axis2/services/CD_Server.CD_ServerSoap/</value>
            </setting>
        </GestionMedidores.Properties.Settings>
    </applicationSettings>
               <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
