<configuration><configSections>
                   <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
                       <section name="VerificaEstadoAMI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
                       <section name="GestionMedidores.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
                   </sectionGroup>
    </configSections>


  <appSettings>
    <add key="Timer" value="180000"/>
    <add key="bd" value="JvRIOdPpNpqLSFy8aFB+iiepJlVWQW2vkC//Thcxmalr9QWpAb+Lidos+kftTL9syQsnD7/VWZ3Ca7Drx4/DlxK27MBHP/1CpRBvV3vC6L7dL/F4vrGrQzb1EwRy3hWZ"/>
  </appSettings>
  
    <applicationSettings>
        <VerificaEstadoAMI.Properties.Settings>
            <setting name="bd" serializeAs="String">
				<value>JvRIOdPpNpqLSFy8aFB+iiepJlVWQW2vkC//Thcxmalr9QWpAb+Lidos+kftTL9syQsnD7/VWZ3Ca7Drx4/DlxK27MBHP/1CpRBvV3vC6L7dL/F4vrGrQzb1EwRy3hWZ</value>
            </setting>
            <setting name="frecuencia" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="VerificaEstadoAMI_CD_ServerSoap_CD_Server" serializeAs="String">
                <value>http://192.168.100.41/ms-cd-3/services/CD_ServerSoap</value>
            </setting>
            <setting name="VerificaEstadoAMI_MASSoap_MAS" serializeAs="String">
                <value>http://192.168.100.41/ws-mas/services/MAS</value>
            </setting>
        </VerificaEstadoAMI.Properties.Settings>
        
    </applicationSettings>
               <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
